default:
    suites:
        default:
            contexts:
                - Lepus\LepusContext

    extensions:
        Lepus\LepusExtension:
            host: hawk.rmq.cloudamqp.com
            vhost: gqrrpurq
            user: gqrrpurq
            password: jgLERb_FmJZ5Rzpn2pe3hW6CYTOsykbc
